<h2>Find your perfect Nest</h2> <br>

<div class="row">
  {{#each nests}}

  <div class="col-md-3 mb-6">
    <div class="card" style="width: 17.5rem;">
      <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{location}}</p>
        <p class="card-text">{{price}}</p>

        <button>
          <a href="/nests/{{this._id}}">More details</a>
        </button>

        {{!-- ///////// --}}
        
        <button>
          <a href="/nests/{{this._id}}/edit">edit</a>
        </button>

        <form method="POST" action="/nests/{{_id}}/delete">
          <button>Delete</button>
        </form>
        {{!-- ///////// --}}


      </div>
    </div>
  </div>


  {{else}}
  <p>There are no nests yet!</p>

  {{/each}}
  <hr />
</div>