
<div class="nest-style">
  <h4 class="nest-list-headline">{{nest.title}}</h4>

<p>{{nest.location}}</p>

<img src="{{nest.imageUrl}}" class="card-img-top" alt="{{nest.title}}">

{{#if isOwner}}
<button type="button" class="btn btn-light">
    <a href="/nests/{{nest._id}}/edit">edit</a>
</button>

<form method="POST" action="/nests/{{nest._id}}/delete">
    <button type="button" class="btn btn-light">delete</button>
</form>
{{/if}}

<p>€{{nest.price}}/night</p>
<p>Description <br>{{nest.description}}</p>


<hr>
<p>Location</p>
    <h3>My First Map</h3>
    <div id="map"></div>






<button class="btn btn-link button-list">
    <a href="/nests">Go back to all nests</a>
</button>

</div>
