
<div class="nest-style">
  <h4 class="nest-list-headline">{{nest.title}}</h4>

<p>{{nest.location}}</p>

<img src="{{nest.imageUrl}}" class="card-img-top" alt="{{nest.title}}">

<p>€{{nest.price}}/night</p>
<p>Description <br>{{nest.description}}</p>



<hr>
<p>Location</p>



{{!-- {{#if isOwner}}
<button>
    <a href="/nests/{{nest._id}}/edit">edit</a>
</button>

<form method="POST" action="/nests/{{nest._id}}/delete">
    <button>Delete</button>
</form>
{{/if}} --}}


<button class="btn btn-link button-list">
    <a href="/nests">Go back to all nests</a>
</button>

</div>
