<h3>{{title}}</h3>

<p>Location: {{location}}</p>

<img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">

<p>Price: {{price}}</p>
<p>Description: {{description}}</p>

<button>
    <a href="/nests/{{this._id}}/edit">edit</a>
</button>

<form method="POST" action="/nests/{{_id}}/delete">
    <button>Delete</button>
</form>

<button>
    <a href="/nests">Go back to all nests</a>
</button>



