<h3>{{nest.title}}</h3>

<p>Location: {{nest.location}}</p>

<img src="{{nest.imageUrl}}" class="card-img-top" alt="{{nest.title}}">

<p>Price: {{nest.price}}</p>
<p>Description: {{nest.description}}</p>
{{!-- //// --}}

{{#if isOwner}}
<button>
    <a href="/nests/{{nest._id}}/edit">edit</a>
</button>

<form method="POST" action="/nests/{{nest._id}}/delete">
    <button>Delete</button>
</form>
{{/if}}

<button>
    <a href="/nests">Go back to all nests</a>
</button>



