<div class="nest-style">
  <h4 class="nest-list-headline">Community-picked workcation stays for you</h4>

  <div class="row">
    {{#each nests}}

    <div class="col-md-5 mb-5 col-lg-4">
      <div class="card" style="width: 17.5rem;">
        <a href="/nests/{{this._id}}">
          <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
        </a>
        <div class="card-body">
          <h5 class="card-title card-title-styling">{{title}}</h5>
          <p class="card-text card-location-styling">{{location}}</p>
          <p class="card-text card-price-styling">€{{price}}/night</p>

          <button type="button" class="btn btn-link button-list">
            <a href="/nests/{{this._id}}">details</a>
          </button>

          <button type="button" class="btn btn-link button-list">
            <a href="/nests/{{this._id}}/edit">edit</a>
          </button>


        </div>
      </div>
    </div>


    {{else}}
    <p>Stay tuned! Nests are coming soon 😎 Want to become a host?
      <a href="/auth/signup">Signup!</a>
    </p>
    {{/each}}

  </div>


  <div class=class="container text-center">
    <div class="row justify-content-end">
      <div class="col-1">
        <a href="/nests">Back to top!</a>
      </div>
    </div>
  </div>

</div>